---
import type {CollectionEntry} from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import SiteLayout from '../components/ui/SiteLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const {title, description, pubDate, updatedDate}: Props = Astro.props;
---

<SiteLayout title={title} description={description}>
  <div class="py-12">
    <article class="max-w-2xl mx-auto px-4">
      <div class="article-title-section mb-8">
        <h1 class="article-title-section h1">{title}</h1>
        {description && <p class="article-description">{description}</p>}
      </div>

      <div class="article-meta">
        {pubDate && (
          <div class="article-date">
            <strong>Published:</strong> <FormattedDate date={pubDate} />
          </div>
        )}
        {updatedDate && (
          <div class="article-date">
            <strong>Updated:</strong> <FormattedDate date={updatedDate} />
          </div>
        )}
      </div>

      <div class="prose">
        <slot />
      </div>
    </article>
  </div>
</SiteLayout>
